<p id="notice"><%= notice %></p>

<div class = 'navigation_bar'>
  <ul>
      <li>HOME</li>
      <li>HOW IT WORKS</li>
      <li>OUR AUDIENCE</li>
  </ul>
</div>

<center><h3>What is your campaign Objective?</h3></center>
    <%= render 'form' %>
