

                <div class = "navigation_bar_root">
                  <ul>
                    <a href="/companies#howItWorks"><li>How It Works</li></a>
                    <a href="/companies#services"><li>Services</li></a>
                    <a href="http://www.ovuline.com/"><img src="/images/ovulineadvert.jpg"></a></li>
                    <a href="/companies#audience"><li>Our Audience</li></a>
                    <a href="/companies#design"><li>Design</li></a>
                  </ul>
                </div>

<body class = 'pagequotes'>
        <%= render 'form' %>
</body>
