

    <div class = 'navigation_bar'>
        
        <ul>

                    <a href='/companies' ><li>How It Works</li></a>
                    <a href="/companies#services"><li>Services</li></a>
                    <a href="/companies"><li>OVULINE ADVERTISING</li></li>
                    <a href="/companies#audience"><li>Our Audience</li></a>
                    <a href="/companies#design"><li>Design</li></a>

        </ul>

    </div>

<body class = 'pagequotes'>
        <%= render 'form' %>
</body>
