<p id="notice"><%= notice %></p>

<div class = 'navigation_bar'>
    
    <ul>

        <a><li>HOME</li></a>
        <a><li>HOW IT WORKS</li></a>
        <a><li>OUR AUDIENCE</li></a>
        <a><li>SERVICES</li></a>
        <a><li>DESIGN</li></a>
        <a><li>SUCCESS STORIES</li></a>

    </ul>

</div>

    <%= render 'form' %>
