<!DOCTYPE HTML> 
<html class="no js" lang="en">
<head> 
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent black"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:image" content="http://www.ovuline.com/images/new/new_logo.png"/>
    <meta name="apple-itunes-app" content="app-id=719135369"/>
    <meta http-equiv="Content-Tyle" content="text/html; charset=utf-8"/>
  <link type="text/css" href="style.css" rel="stylesheet" />
    <title>Ovuline Advertising</title>
     <!-- <script src="bower_components/modernizr/modernizr.js"></script> --> 
 </head>
 <body data-pinterest-extension-installed="cr1.35">
   <header>
   <hgroup>
    <h1>
        <p>
          Thanks for your interest!
        <br>
        </p>
    </h1>
  </hgroup>
  </header>
  <section class="thank you">
    <div class="text">
     <p>In the meantime, be sure to download
      <br>
    Ovia Fertility and Ovia Pregnancy apps.
      <br>
     </p>
    </div>
  </section>



 	 <img src="ovuline/images/ovulineadvert.jpg" alt="Ovuline Advertising Logo" />
      <ul>
        <li><a href="url">Home</a></li>
        <li><a href="url">How It Works</a></li>
        <li><a href="url">Our Audience</a></li>
        <li><a href="url">Services</a></li>
        <li><a href="url">Design</a></li>
        <li><a href="url">Success Stories</a></li>
        <li><a href="url">Log In</a></li>
      </ul>
     </nav>
 <span>Concieve Faster.</span>
              <br>
              <span>Have a healthier pregnancy.</span>
              <br>
              <span>Get to know your body.</span>
              <br>
            </div>

  </body>



