
    <title>Ovuline Advertising</title>
     <!-- <script src="bower_components/modernizr/modernizr.js"></script> --> 
 </head>

<body data-pinterest-extension-installed="cr1.35">

  <center>
   <img src="images/ovulineadvert.jpg" alt="Ovuline Advertising Logo" />
  </center>

    <div class = 'navigation_bar'>
      <ul>
                    <a href='/companies' ><li>How It Works</li></a>
                    <a href="/companies#services"><li>Services</li></a>
                    <a href="/quotes/new"><li>ADVERTISING NOW</li></li>
                    <a href="/companies#audience"><li>Our Audience</li></a>
                    <a href="/companies#design"><li>Design</li></a>
      </ul>
    </div>

 <div class = 'thankyou'>
  <div class = 'section_pale_orange_thankyou'>
  
    <div class = 'section_general_thankyou_custom'>
  <!--    -->
      <!-- <header> -->
      <!-- <hgroup> -->
      <center>
        <h1>
            <p>
              Thanks for your interest!
            </p>
        </h1>
      <!-- </hgroup> -->
      <!-- </header> -->
      <!-- <section class="thank you"> -->
        <div class="text">
          <p>In the meantime, be sure to download
            <br>
          Ovia Fertility and Ovia Pregnancy apps.
            <br>
          </p>
          <br>
          <!-- <div class = 'thankyou_float' > -->
          <!-- <div class = 'pad'> -->
            <a href="https://itunes.apple.com/us/app/ovia-fertility-ovulation-calculator/id570244389?mt=8"><img src='images/fertility-icon.png'/></a>
          <!-- </div> -->
         <!-- <div class = 'pad'> -->
            <img class='middle-icon' src="images/ovia-logo-gradient.png">
          <!-- </div> -->
          <!-- <div class = 'pad'> -->
            <a href = "https://itunes.apple.com/us/app/ovia-pregnancy-tracker-baby/id719135369?mt=8"><img src="images/pregnancy-icon.png"></a>
          <!-- </div> -->
          <!-- </div> -->
        </div>
        </center>

        
        </div>
            <div class = 'thankyou_phone'>
      <img src="images/pios-iphone.png" />
    </div>
    <!-- </section> -->
    </div>
  </div>

 

 </body>




