<!DOCTYPE HTML> 
<html class="no js" lang="en">
<head> 
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent black"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:image" content="http://www.ovuline.com/images/new/new_logo.png"/>
    <meta name="apple-itunes-app" content="app-id=719135369"/>
    <meta http-equiv="Content-Tyle" content="text/html; charset=utf-8"/>
  <link type="text/css" href="style.css" rel="stylesheet" />
    <title>Ovuline Advertising</title>
     <!-- <script src="bower_components/modernizr/modernizr.js"></script> --> 
 </head>

 <div class = 'thankyou'>
 <body data-pinterest-extension-installed="cr1.35">
   <header>
   <hgroup>
    <h1>
        <p>
          Thanks for your interest!
        <br>
        </p>
    </h1>
  </hgroup>
  </header>
  <section class="thank you">
    <div class="text">
     <p>In the meantime, be sure to download
      <br>
    Ovia Fertility and Ovia Pregnancy apps.
      <br>
     </p>
    </div>
  </section>



 	 <img src="images/ovulineadvert.jpg" alt="Ovuline Advertising Logo" /> <h2><span>Concieve Faster.</span>
              
              <span>Have a healthier pregnancy.</span>
              
              <span>Get to know your body.</span> <h2>
              
 </body>
    <div class = 'navigation_bar'>
      <ul>
        <a href="http://www.ovuline.com/"><li>Home</li></a>
        <a href="#howItWorks"><li>How It Works</li></a>
        <a href="#services"><li>Services</li></a>
        <a href="#ourAudience"><li>Our Audience</li></a>
        <a href="#howWeDesignForYou"><li>Design</li></a>
        <a href="#successStories"><li>Success Stories</li></a>
        <a href="quotes/new"><li>GET STARTED!</li></a>]
      </ul>
    </div>





