<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ovuline Advertising</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
  <!-- <script src="bower_components/modernizr/modernizr.js"></script> --> 
  </head>
  <body>
<div class = "pageinfo">
    <header>
      <div id="topNav">
        <div class = "navigation_bar">
          <ul id="nav">
            <li><a href="#howItWorks">How It Works</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="http://www.ovuline.com/"><img src="images/ovulineadvert.jpg"></a></li>
            <li><a href="#ourAudience">Our Audience</a></li>
            <li><a href="#howWeDesignForYou">Design</a></li>
          </ul>
        </div>
        <img src="images/topbackground.png" alt="Advertising Background Image" />
        <center>
        <h1>Get In Touch</h1>
        <%= render 'form' %>
        <%= link_to 'Back', companies_path %>
        <a id="submit" href="url">Submit</a>
        </center>

      </div>
      <center>
        <a id="advertise" href="url">Advertise With Us</a>
      </center>
    </header>
    <main>

                    <!--     HOW IT WORKS    -->    
    <div class="wrapper">
      <div id="howItWorks">
        <div id="top">
            <img src="images/phone1.png" alt="Phone 1">
        </div>
        <div id="bottom">
          <div id="phone">
            <img src="images/phone2.png" alt="Phone 2">
          </div>
          <h2>How It Works</h2>
          <ul class="flex-container">
            <li class="flex-item">
              <img src="images/workcircle1.png" alt="Work Circle 1" />
              <p>Create custom content and ad assets</p>
            </li>
            <li class="flex-item">
              <img src="images/workcircle2.png" alt="Work Circle 2" />
              <p>Amplify exposure to assets accross multiple platforms (iOS and Android)</p>
            </li>
            <li class="flex-item">
              <img src="images/workcircle3.png" alt="Work Circle 3" />
              <p>Users engage with your ads</p>
            </li>
            <li class="flex-item">
              <img src="images/workcircle4.png" alt="Work Circle 4" />
              <p>Receive monthly reports on performance</p>
            </li>
          </ul>    
        </div>
      </div>
    </div>

                        <!--     SERVICES    -->    
    <div class="wrapper">
      <div id="services">
        <div id="top">
            <img src="images/phone3.png" alt="Phone 3">
        </div>
        <div id="bottom">
          <div id="phone">
            <img src="images/phone4.png" alt="Phone 4">
          </div>
          <h2>Services</h2>
          <div class="text">
            <h3>Social</h3>
            <p>Ovia by Ovuline social media allows exposure to over 200,000 followers. Available on Twitter and Facebook.</p>
            <h3>Ovia Exclusive</h3>
            <p>Ovia has partnered with some of the best new brands and health partners to give users exclusive access to new products and promotions</p>
            <h3>Native Advertisements</h3>
            <p>No pop-ups, no banners, only original sponsored content that our users want to see. Ads are seamlessly integrated into the app’s newsfeed.</p>
            <h3>Email Campaign</h3>
            <p>Ovia Pregnancy and Ovia Fertility update emails are sent daily. Updates contain articles, quizzes and reminders to update information for my accurate results. </p>
          </div>
        </div>
        
      </div> 
    </div>
 

                  <!--     AUDIENCE    -->   
    <div class="wrapper"> 
      <div id="audience">
        <div id="top">
            <img src="images/womanphone.png" alt="Woman With Phone">
        </div>
        <div id="bottom">
        <div id="phone">
          <img src="images/phone5.png" alt="Phone 5">
        </div>
          <h2>Our Audience</h2>
          <div class="image">
            <img src="images/infograph1.png" alt="Audience Information">
          </div>
        </div>
        
      </div>
    </div>

                        <!--     DESIGN    -->    
    <div class="wrapper">
      <div id="design">
        <div id="top">
            <img src="images/journal.png" alt="Journal">
        </div>
        <div id="bottom">
        <div id="phone">
          <img src="images/phone6.png" alt="Phone 6">
        </div>
          <h2>How We Design For You</h2>
          <ul class="flex-container">
            <li class="flex-item">
              <img src="images/miniads.png" alt="Ad Design" />
              <p>Unlimited in-feed ad creative combination</p>
            </li>
            <li class="flex-item">
              <img src="images/redpeople.png" alt="Connecting" />
              <p>Optimized based on real-time engagement data</p>
            </li>
            <li class="flex-item">
              <img src="images/magnifyglng" alt="Results" />
              <p>Algorithims test ads to find the creative that works the best</p>
            </li>
          </ul>    
          <ul class="flex-container">
            <li class="flex-item">
              <img src="images/1.png" alt="1" />
              <p>Ovuline proposes ideas</p>
            </li>
            <li class="flex-item">
              <img src="images/2.png" alt="2" />
              <p>Initial Client Approval</p>
            </li>
            <li class="flex-item">
              <img src="images/3.png" alt="3" />
              <p>Ovuline creates drafts</p>
            </li>
          </ul>
          <ul class="flex-container">
            <li class="flex-item">
              <img src="images/4.png" alt="4" />
              <p>Client provides consolidated feedback</p>
            </li>
            <li class="flex-item">
              <img src="images/5.png" alt="5" />
              <p>Ovuline makes revisions and collects art from client</p>
            </li>
            <li class="flex-item">
              <img src="images/6.png" alt="6" />
              <p>Final client approval</p>
            </li>
          </ul>    
        </div>
      </div>
    </div>
      <footer>
         <img src="images/footerimg.jpg" alt="Ovuline Footer" />
      </footer>
    </main>
  </body>
</html>
</div>