/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.section_general{
    padding: 8%;
    margin-right: -20px;
    margin-left: -20px; 
}

.section_teal{
    margin-right: -20px;
    margin-left: -20px;
    background: -webkit-linear-gradient(#50BE9C, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#50BE9C, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#50BE9C, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#50BE9C, white); /* Standard syntax */
    /*background: #50BE9C;*/
}

.section_teal_padding{
    padding-left: 33%;
}

.section_pink{
    margin-right: -20px;
    margin-left: -20px;
    background: #FF47A3;
}

.section_pink_padding{
    padding-left: 37%;

}

.section_pale_orange{

    background: -webkit-linear-gradient(#FAA918, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FAA918, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FAA918, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FAA918, white); /* Standard syntax */
    margin-right: -20px;
    margin-left: -20px
/*    background: #FF8330;*/
}

.navigation_bar{     
    margin-top: -20px;
    margin-bottom: 0px;
    margin-right: -20px;
    margin-left: -20px;     
    background: #B5B5B5 
}

.vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navigation_bar_dashboard{     
    margin-top: -10px;
    margin-bottom: 0px;
    margin-right: -20px;
    margin-left: -20px;     
    background: #B5B5B5 
}

.navigation_bar_dashboard ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navigation_bar_dashboard li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  width: 500px;
  border-bottom: 1px solid #888;
}

.navigation_bar_dashboard a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: .3s background-color;
}
 
.navigation_bar_dashboard a:hover {
  background-color: #005f5f;
}

.navigation_bar_dashboard a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.navigation_bar ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navigation_bar li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  width: 200px;
  border-bottom: 1px solid #888;

}
 
.navigation_bar a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: .3s background-color;
}
 
.navigation_bar a:hover {
  background-color: #005f5f;
}
 
.navigation_bar a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/*@media screen and (min-width: 600px) {
  .navigation_bar li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;

  }
 
  /* Option 1 - Display Inline */
  .navigation_bar li {
    display: inline-block;
    margin-right: -4px;
  }*/

  .btn_info {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #17d5e6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_info:hover {
  background: #2ca8f5;
  text-decoration: none;
}

.button {
   border-top: 1px solid #96d1f8;
   color: #ffffff;
   font-size: 20px;
   background: #17d5e6;

   padding: 10px 20px 10px 20px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
   color: white;
   font-size: 14px;
   font-family: Arial;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
  background: #2ca8f5;
  text-decoration: none;
   }
.button:active {
  background: #2ca8f5;
  text-decoration: none
   }

.dashboard_table{
    padding: 3%;
}