/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.section_general{
    padding: 60px;

}

.section_lime_green{

    background: #32CD32;
}

.section_pink{

    background: #FF47A3;
}

.section_pale_orange{

    background: #FF8330;
}

.navigation_bar{     
    margin: -15px;     
    background: #B5B5B5 
}

.in_bar_position{
    float: left;

}

.nav_block{
    display: block;

}

.vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.outer-v {
    display: table;
    width: 100%;
}

.inner-v {
    display: table-cell;
    width: 100%
    vertical-align: middle;
}


.bar_padding{
    padding: 10px, 0px, 10px, 0px;
}

.navigation_bar ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navigation_bar li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
      width: 200px;
  border-bottom: 1px solid #888;

}
 
.navigation_bar a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: .3s background-color;
}
 
.navigation_bar a:hover {
  background-color: #005f5f;
}
 
.navigation_bar a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/*@media screen and (min-width: 600px) {
  .navigation_bar li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;

  }
 
  /* Option 1 - Display Inline */
  .navigation_bar li {
    display: inline-block;
    margin-right: -4px;
  }*/