  .btn_info {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #17d5e6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_info:hover {
  background: #2ca8f5;
  text-decoration: none;
}

.button {
   border-top: 1px solid #96d1f8;
   color: #ffffff;
   font-size: 20px;
   background: #17d5e6;

   padding: 10px 20px 10px 20px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
   color: white;
   font-size: 14px;
   font-family: Arial;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
  background: #2ca8f5;
  text-decoration: none;
   }
.button:active {
  background: #2ca8f5;
  text-decoration: none;
   }