.section_general{
    padding: 8%;
}

.section_general_show_custom{
    padding: 0.25%;
    padding-top: 1%;
    height: 60vh;
}

.section_general_thankyou_custom{
    padding-left: 8%;
    float: left;
}

.teal{
    background: -webkit-linear-gradient(#50BE9C, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#50BE9C, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#50BE9C, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#50BE9C, white); /* Standard syntax */
    background: #50BE9C;
    overflow: auto;
    padding: 1%;
}

.teal p{
    color: white;
}

.section_teal{

    background: -webkit-linear-gradient(#50BE9C, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#50BE9C, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#50BE9C, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#50BE9C, white); /* Standard syntax */
    /*background: #50BE9C;*/
}



.section_teal_padding{
    padding-left: 33%;
    padding-right: 33%
}

.section_pink{
    margin-right: -20px;
    margin-left: -20px;
    background: #FF47A3;
}

.section_pink_padding{
    padding-left: 37%;

}

.section_pale_orange{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: -webkit-linear-gradient(#FAA918, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FAA918, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FAA918, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FAA918, white); /* Standard syntax */

/*    background: #FF8330;*/
}


.companies_view_body{
    width: 150%;
}

.companies_view_body td:nth-child(odd){
   background: #C8C8C8;
}

.companies_view_body td:nth-child(even){
    background: #E0E0E0;
}

.companies_view_body td, th{
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard_table h1{
    color: black;
}


.dashboard_table td:nth-child(odd){
   background: #C8C8C8;
}

.dashboard_table td:nth-child(even){
    background: #E0E0E0;
}

.dashboard_table td, th{
    padding-left: 10px;
    padding-right: 10px;
}

.float_it_left{
    float: left;
}



.move_it_forward_section {
    /*z-index: 1;*/
    /*float: left;*/
    margin: 0 auto;
    text-align: center;
    padding-left: 28%;
    padding-top: 10%;
}

.fit_section_to_page {
    top: 100vh;
    display: block;
    /*width: 100%;*/
    /*padding-bottom: 100%;*/
}

.white_padding{
    padding-bottom: 6%;
}

.special_size_img {
/*    overflow: auto;
    height: 80vh;
    width: 100%;*/
    /*background-image: url('images/topbackground.png');*/
    background-image:url('/images/topbackground.png');
    background-size: cover;
    width: 85%;
    margin: 0 auto;
    height: 80vh;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    /*width: 100%;*/
}

.make_it_white p{
    color: white;
}

.center_the_button{
    padding-top: 30px;
    padding-left: 90px;
}

